<template>
  <div>
    <div>
      <div>
        <b-button variant="success" id="show-btn" @click="openModal"
          >Sửa thông tin</b-button
        >

        <b-modal id="bv-modal-edit-profile-myself" hide-footer>
          <template #modal-title> Form Sửa Thông Tin Người Dùng </template>
          <div class="d-block">
            <b-form v-on:submit.prevent="submit">
              <label for="email">Email</label>
              <b-form-input
                id="email"
                type="email"
                placeholder="nhập email"
                v-model.trim="userInfo.email"
                :state="validateState('email')"
                required
              >
              </b-form-input>

              <b-form-invalid-feedback>
                Yêu cầu nhập Email.
              </b-form-invalid-feedback>

              <label class="mt-5" for="rolde">Quyền</label>
              <b-form-select
                disabled="disabled"
                v-model.trim="userInfo.role"
                :options="optionsRole"
              ></b-form-select>

              <label class="mt-5" for="rolde">Phòng Ban</label>
              <b-form-select
                v-model.trim="userInfo.departmentId"
                :options="optionsDepartment"
              ></b-form-select>
            </b-form>
          </div>
          <div class="d-flex">
            <b-button
              class="mt-3 mr-5"
              variant="danger"
              block
              @click="closeModal"
              >Close Me</b-button
            >
            <b-button
              class="mt-3"
              variant="success"
              block
              v-on:click="updateProfile"
              >Cập Nhật</b-button
            >
          </div>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import { validationMixin } from "vuelidate";
const { required } = require("vuelidate/lib/validators");
export default {
  mixins: [validationMixin],
  data() {
    return {
      takeInfoFromInput: {
        email: "",
        password: "",
        departmentId: null,
        role: 1,
      },
      showPassword: false,
      optionsRole: [
        { value: null, text: "Vui lòng chọn quyền" },
        { value: "user", text: "user" },
        { value: "admin", text: "admin" },
      ],
      optionsDepartment: [
        { value: null, text: "Vui lòng chọn phòng ban" },
        { value: "1", text: "Tech" },
        { value: "2", text: "HR" },
      ],
    };
  },
  validations: {
    takeInfoFromInput: {
      email: { required },
      password: { required },
      departmentId: { required },
      role: { required },
    },
  },
  props: {
    userInfo: {
      type: Object,
    },
  },
  methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.takeInfoFromInput[name];
      return $dirty ? !$error : null;
    },
    updateProfile() {
      const db = { ...this.userInfo };
      this.$emit("updateProfile", db);
      // this.$v.takeInfoFromInput.$touch();
      // if (this.$v.takeInfoFromInput.$anyError) {
      //   return;
      // }
      // perform logic to add user to database or make API call here
      // reset form
      // for (const key in this.takeInfoFromInput) {
      //   console.log(this.takeInfoFromInput[key]);
      // if (key === "role" || key === "departmentID") {
      //   this.takeInfoFromInput[key] = null;
      // } else {
      //   this.takeInfoFromInput[key] = "";
      // }
      // }
    },
    togglePasswordVisibility() {
      this.showPassword = !this.showPassword;
    },
    openModal() {
      this.$bvModal.show("bv-modal-edit-profile-myself");
    },
    closeModal() {
      this.$bvModal.hide("bv-modal-edit-profile-myself");
    },
  },
  computed: {
    inputType() {
      return this.showPassword ? "text" : "password";
    },
    checkStatus() {
      if (this.showPassword) return "fa fa-eye-slash";
      return "fa fa-eye";
    },
  },
};
</script>
<style>
.btn-hideAndShowPass {
  position: absolute;
  right: 65px;
  top: 35%;
}
</style>
