<template>
  <div>
    <b-modal
      v-if="bookingInfo !== null"
      :id="`delete-meeting-admin-${bookingInfo?.id}`"
      hide-footer
    >
      <template #modal-title>Huỷ lịch họp</template>
      <p v-if="currentUser.role === 'admin'" class="mb-2">
        Bạn đang huỷ lịch họp của
        <b class="text-primary">{{ bookingInfo.fullname }}</b>
        với tư cách
        <b class="text-danger">quản trị viên.</b>
      </p>
      <p v-else class="mb-2">Bạn đang huỷ lịch họp bạn đã tạo.</p>

      <p>
        <b class="text-primary">{{ bookingInfo.roomName }}</b>
        lúc
        <b class="text-primary"
          >{{ bookingInfo.startingTime }} ,{{ bookingInfo.date }}.</b
        >
      </p>

      <b-form class="form mt-8" @submit.stop.prevent="onSubmit">
        <b-form-group>
          <b-form-input
            class="form-control form-control-solid h-auto"
            id="example-input-2"
            name="example-input-2"
            v-model="$v.form.cancelReason.$model"
            :state="validateState('cancelReason')"
            aria-describedby="input-1-live-feedback"
            placeholder="Vui lòng điền lý do trước khi huỷ cuộc họp"
            size="sm"
          >
          </b-form-input>
        </b-form-group>

        <b-button
          type="submit"
          ref="kt_cancel_booking_submit"
          class="w-100 d-flex justify-content-between align-items-center"
          size="sm"
          :variant="cancelButtonVariant"
          :disabled="!cancelable"
        >
          <b>Huỷ lịch họp</b>
          <i class="fa fa-ban p-0"></i>
        </b-button>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
import ApiService from "@/core/services/api.service";
import { required } from "vuelidate/lib/validators";
import { validationMixin } from "vuelidate";
import {
  errorNotification,
  successNotification,
} from "@/core/helpers/notification";
import { mapGetters } from "vuex";
export default {
  mixins: [validationMixin],
  data() {
    return {
      userListInMeeting: [],
      cancelable: false,
      cancelButtonVariant: "",
      form: {
        cancelReason: "",
      },
    };
  },
  validations: {
    form: {
      cancelReason: {
        required,
      },
    },
  },
  props: {
    bookingInfo: {
      type: Object,
      default: null,
    },
    listOfAdminsPresent: {
      type: Function,
    },
    currentPage: {
      tyoe: Number,
    },
  },
  methods: {
    hideModal() {
      this.$bvModal.hide(`delete-meeting-admin-${this.bookingInfo?.id}`);
    },
    getUserListInMeeting() {
      ApiService.get(
        `/meeting/listOfUserInTheMeeting/${this.bookingInfo?.id}`
      ).then((db) => {
        const { result } = db.data;

        this.userListInMeeting = result;
      });
    },

    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    resetForm() {
      this.form = {
        cancelReason: "",
      };
      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    async onSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      const cancelReason = this.$v.form.cancelReason.$model;
      await ApiService.put("/meeting/cancelBooking", {
        id: this.bookingInfo.id,
        reason: cancelReason,
      })
        .then(() => {
          successNotification("Huỷ lịch họp thành công");

          ApiService.post(
            `/cancelMeetingNotify/booking-${this.bookingInfo.id}`
          );
          this.listOfAdminsPresent(this.currentPage);
          this.hideModal();

          ApiService.post("/bookinginfo/sendEmail", {
            emailList: this.userListInMeeting,
            bookingId: this.bookingInfo.id,
            userIdLogin: this.currentUser.id,
            user: this.bookingInfo.email,
          });
        })
        .catch(({ response }) => {
          return errorNotification(response.data.message);
        });

      const submitButton = this.$refs["kt_cancel_booking_submit"];
      submitButton.classList.add("spinner", "spinner-light", "spinner-right");

      submitButton.classList.remove(
        "spinner",
        "spinner-light",
        "spinner-right"
      );
    },
  },
  watch: {
    bookingInfo() {
      this.getUserListInMeeting();
    },
    "form.cancelReason": {
      handler(cancelReason) {
        if (cancelReason.trim()) {
          this.cancelable = true;
          this.cancelButtonVariant = "danger";
        } else {
          this.cancelable = false;
          this.cancelButtonVariant = "";
        }
      },
    },
  },

  computed: {
    ...mapGetters(["currentUser"]),
  },
  mounted() {
    this.getUserListInMeeting();
  },
};
</script>
<style></style>
