<template>
  <div>
    <!--begin::Content header-->
    <div
      class="position-absolute top-0 right-0 text-right mt-5 mb-15 mb-lg-0 flex-column-auto justify-content-center py-5 px-10"
    >
      <span class="font-weight-bold font-size-3 text-dark-60">
        Đã có tài khoản?
      </span>
      <router-link
        class="font-weight-bold font-size-3 ml-2"
        :to="{ name: 'login' }"
      >
        Đăng nhập!
      </router-link>
    </div>
    <!--end::Content header-->

    <!--begin::Signup-->
    <div class="login-form login-signin">
      <div class="text-center mb-10 mb-lg-20">
        <h3 class="font-size-h1">Đăng ký</h3>
        <p class="text-muted font-weight-semi-bold">
          Vui lòng điền thông tin để tạo tài khoảng mới.
        </p>
      </div>

      <!--begin::Form-->
      <b-form class="form" @submit.stop.prevent="onSubmit">
        <b-form-group>
          <b-form-input
            class="form-control form-control-solid h-auto py-5 px-6"
            id="example-input-1"
            name="example-input-1"
            v-model="$v.form.email.$model"
            :state="validateState('email')"
            aria-describedby="input-1-live-feedback"
            placeholder="Email"
          ></b-form-input>

          <b-form-invalid-feedback id="input-1-live-feedback">
            Email không được để trống và phải đúng định dạng.
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group>
          <b-form-input
            class="form-control form-control-solid h-auto py-5 px-6"
            type="password"
            id="example-input-2"
            name="example-input-2"
            v-model="$v.form.password.$model"
            :state="validateState('password')"
            aria-describedby="input-2-live-feedback"
            placeholder="Mật khẩu"
          ></b-form-input>

          <b-form-invalid-feedback id="input-2-live-feedback">
            Mật khẩu không được để trống.
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group>
          <b-form-select
            id="inline-form-custom-select-pref"
            class="form-control form-control-solid h-auto py-5 px-6"
            v-model="$v.form.departmentId.$model"
            :options="departmentList"
          ></b-form-select>

          <b-form-invalid-feedback id="input-2-live-feedback">
            Vui lòng chọn phòng ban.
          </b-form-invalid-feedback>
        </b-form-group>

        <!--begin::Action-->
        <div class="form-group d-flex flex-wrap flex-center">
          <button
            type="submit"
            ref="kt_login_signup_submit"
            class="btn btn-primary font-weight-bold w-100 px-9 py-4 my-3 font-size-3"
          >
            Đăng ký
          </button>
        </div>
        <!--end::Action-->
      </b-form>
      <!--end::Form-->
    </div>
    <!--end::Signup-->
  </div>
</template>

<style lang="scss" scoped>
.spinner.spinner-right {
  padding-right: 3.5rem !important;
}
</style>

<script>
import { mapState } from "vuex";
import { REGISTER, LOGIN, LOGOUT } from "@/core/services/store/auth.module";

import { validationMixin } from "vuelidate";
import { email, required, minLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  name: "register",
  data() {
    return {
      form: {
        email: null,
        password: null,
        departmentId: null,
      },
    };
  },
  validations: {
    form: {
      email: {
        required,
        email,
      },
      password: {
        required,
        minLength: minLength(3),
      },
      departmentId: {},
    },
  },
  methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    resetForm() {
      this.form = {
        username: null,
        email: null,
        password: null,
      };

      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    onSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }

      const email = this.$v.form.email.$model;
      const password = this.$v.form.password.$model;
      const departmentId = this.$v.form.departmentId.$model;

      // clear existing errors
      this.$store.dispatch(LOGOUT);

      // set spinner to submit button
      const submitButton = this.$refs["kt_login_signup_submit"];
      submitButton.classList.add("spinner", "spinner-light", "spinner-right");

      this.$store
        .dispatch(REGISTER, {
          email,
          password,
          departmentId,
        })
        .then(() => {
          this.$store
            .dispatch(LOGIN, { email, password })
            .then(() => this.$router.push({ name: "home" }));
        });

      submitButton.classList.remove(
        "spinner",
        "spinner-light",
        "spinner-right"
      );
    },
  },
  computed: {
    ...mapState({
      errors: (state) => state.auth.errors,
      departmentList: (state) => {
        const data = state.store.departmentList;

        return data.map((item) => {
          const { id, departmentName } = item;
          return {
            text: departmentName,
            value: id,
          };
        });
      },
    }),
  },
  mounted() {
    this.form.departmentId = this.departmentList[0].value;
  },
};
</script>
